.wp-list-table td {
	padding-top: 7px;
	padding-bottom: 7px;

}
.cps-paginate {
	line-height: 30px;
}

.wp-list-table th {
	text-align: center;
}

.column-cb {
	width: 5%;
	text-align: center;
	margin: 0 auto;
}
.column-cb input[type=checkbox] {
	margin-left: 0;
}
.column-item-title {
	width: 60%;
}

.column-sync-time {
	width: 20%;
	text-align: center;
}

.column-distribute-status {
	width: 20%;
}

.cps-item-status {
	text-align: center;
}

.museums_location {
	width: 95%;
	height: 300px;
	background-color: #ccc;
}
.cps-locations {
	margin: 10px;
}
.cps-locations input[type=text] {
	width: 100px !important;	
	text-align: center;
}
.cps-loading {
	display: inline-block;
	background: #fff url('../img/loading-img.gif') no-repeat;
	width: 16px;
	height: 16px;
	line-height: 30px;
	margin-left: 10px;
	margin-right: 10px;
}
.hide {
	display: none;
}
.clearfix {
	display: block;
	clear: both;
}
.cps-error {
	color: red;
}
.cps-controls { 
	margin-left: 5px;
	margin-right: 5px;
}
.ed_button {
	width: auto !important;
}
